<div class="container format-login">
  <div class="row justify-content-center">
    <div class="col-xs-6 col-sm-6 col-sm-offset-6">
      <div class="form-login">
        <h2>Update your scholar information</h2>
        <%= simple_form_for [@user, @scholar] do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :institution_name, label: "Institution Name" %>
            <%= f.input :bank_name, label: "Bank Name" %>
            <%= f.input :bank_account, label: "Bank Account" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class:"btn-primary" %>
          </div>
        <% end %>
        <strong><%= link_to "Back", :back, class:"btn btn-primary" %></strong>
      </div>
    </div>
  </div>
</div>
