<div>
    <% if user_signed_in?%>
      <div class="book-form">
        <h3>Make donations here</h3>
        <%= simple_form_for [@scholar, @transaction] do |f| %>
          <%= f.input :purpose, label: "purpose" %>
          <%= f.input :amount, label: "amount" %>
          <%= f.submit "Request Payment", class: "btn btn-primary" %>
        <% end %>
      </div>
      <% elsif !user_signed_in? %>
    <div class='d-flex'>
        <%= link_to "Please log in to make payment", new_user_registration_path(@scholar), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
